<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Currency Converter</title>
    <script>
        function checkDropdownValues() {
            var sourceCurrency = document.getElementById('sourceCurrency').value;
            var targetCurrency = document.getElementById('targetCurrency').value;
            if (sourceCurrency === targetCurrency) {
                alert('Source Currency and Target Currency cannot be the same. Please select different currencies.');
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<h1>Currency Converter</h1>
<form th:action="@{/api/currency-converter}" method="post" onsubmit="return checkDropdownValues()">
    <label for="sourceCurrency">Source Currency:</label>
    <select id="sourceCurrency" name="sourceCurrency" required>
        <option th:each="currency : ${currencies}"
                th:value="${#strings.arraySplit(currency, '|')[0]}"
                th:text="${#strings.arraySplit(currency, '|')[1]}"
                th:selected="${#strings.arraySplit(currency, '|')[0] == selectedSourceCurrency}"></option>
    </select>

    <label for="targetCurrency">Target Currency:</label>
    <select id="targetCurrency" name="targetCurrency" required>
        <option th:each="currency : ${currencies}"
                th:value="${#strings.arraySplit(currency, '|')[0]}"
                th:text="${#strings.arraySplit(currency, '|')[1]}"
                th:selected="${#strings.arraySplit(currency, '|')[0] == selectedTargetCurrency}"></option>
    </select>

    <label for="sourceAmount">Source Amount:</label>
    <input type="text" id="sourceAmount" name="sourceAmount" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number" th:value="${amount}"/>

    <button type="submit">Convert</button>
</form>

<h2>Target Amount: <span th:text="${targetAmount}"></span></h2>
</body>
</html>
